<table>
	<tbody>
		<tr>
			<td width="50%" height = "409">
				<p align="center">
					<img border="0" src="../app/assets/images/bldg.jpg" width="600" height = "409">
				</p>
			</td>
			<td width = "28%" height = "409">

				<h1>Contact Information</h1>
				<h3>Telephone</h3>
				<h4 class="ContactInfo">603-644-0387</h4>
				<h3>Fax</h3>
				<h4 class="ContactInfo">603-666-0835</h4>
				<h3>Address</h3>
				<h4 class="ContactInfo">173 South River Road</h4>
				<h4 class="ContactInfo">Bedford, NH 03110 USA</h4>
				<h3>Email</h3>
				<h4 class="ContactInfo">Sales:</h4>
				<h4 class="ContactInfo">sales@turnertooling.com</h4>
				<h3>Terms</h3>
				<h4 class="ContactInfo">Payment net 30 days</h4>
			</td>
		</tr>
	</tbody>
</table>




