<body class="home">
	<div class="jumbotron">
		<h1>Welcome to Turner Tooling Co.</h1>
		<p>Turner Tooling Company, Inc. was established in 1994 to provide reliable professional service and quality products to the Superabrasive Industry.  With over 30 years of superabrasive sales and application experience, Turner Tooling Company, Inc. is a trusted and reliable source.</p>

	</div>
</body>
