<body class="materials">
<h1>Markets and Materials</h1>
<h5>We sell our products to a variety of markets</h5><br>
<div class="container">
<table class="materials">
	<tr>
		<td width="81.8%">
			<font>
				Abrasives <br>
				Aerospace <br>
				Automotive <br>
				Bearings <br>
				Brakes / Friction <br>
				Broach Grinding <br>
				Carbide <br>
				Ceramics <br>
				Composite/Fiberglass <br>
				Cosmetic <br>
				Concrete <br>
				Construction <br>
				Dental <br>
				Electronics <br>
				Fiber Optics <br>
				Firearms <br>
				Graphite/Carbon <br>
			</font>
		</td>
		<td width = "40%">
			<font>
				
				Gear Grinding <br>
				Glass <br>
				Medical <br>
				Nickel Titanium <br>
				Opthalmics <br>
				Paper <br>
				Polyproylene <br>
				Quartz <br>
				Refractory <br>
				Rubber <br>
				Sapphire <br>
				Semiconductor <br>
				Sporting Goods <br>
				Stone (Marble, Granite) <br>
				Textile <br>
				Tile - Porcelain <br>
				Wood <br>
			</font>
		</td>
	</tr>
</table>
</div>
</body>

<%= link_to 'Materials', markets_path %>
